<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .completed-todo {
        color: blue;
        text-decoration: line-through;
      }

      .important-todo {
        background: rgba(255, 0, 0, 0.3);
      }

      .small-image {
        max-width: 5rem;
      }
    </style>

    <div id="app">
        <div>
            <!-- how v-model works -->
            <input type="text" v-bind:value="name" v-on:input="name=$event.target.value">
            {{ name }}

            <hr>
        </div>
        <div>
            <!-- <input type="text" v-model="newUsername"> -->
            <material-input type="text" placeholder="Username" v-model="newUsername"></material-input>
            <button @click="addTodolist">Add TodoList</button>
        </div>
        <todo v-for="u in todoListsUsernames"
            :key="u"
            v-bind:username="u"></todo>
    </div>

    <div id="app2"></div>

    <script src="./vue-intro.js"></script>
  </body>
</html>
