<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .completed-todo {
            color: green;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        Todos
        <ul>
            <li v-for="t in todos" v-if="!t.completed && !t.deleted">
                {{ t.text }}
                <!-- everything inside v-directives is expression, so all JS works there -->
                <span v-text=" 'abc'.toUpperCase() "></span>
                <span v-text=" (function(){return 'ABC'}())  "></span>
                <button @click="t.deleted=true">X</button>
                <button @click="t.completed=true">Complete</button>
            </li>
        </ul>

        Completed
        <ul>
            <li v-for="t in todos" v-if="t.completed && !t.deleted" class="completed-todo">
                {{ t.text }}
                <button @click="t.deleted=true">X</button>
            </li>
        </ul>
    </div>

    <script src="./vue-intro.js"></script>
</body>
</html>